#root {
  width: 100%;
  height: 100%;
}

html, body, #app, #app>div {
  height: 100%
}



.group {
  margin-top: 20px;
}

.select{
  padding: 5px 15px
}

.App{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.sidebar{
  width: 100%;
  height: 100%  ;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.red{
  color: indianred;
  font-weight: bold;
}

.transparent {
  color: rgba(2, 1, 1, 0.19);
  font-size: 19px;
}

/*positioning*/

.thirty {
  margin-left: 17%;
  margin-top: 5%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.width-83 {
  width: 66%;
}

.width-20 {
  width: 20%;
}

.top-5 {
  margin-top: 5%;
}
.top-2 {
  margin-top: 2%;
}

.center {
  margin: 0 auto;
}

.card-grey {
  background-color: #e8e8e8;
  border-radius: 5px;
}

.margin-10 {
  padding: 3%;
  margin: 5%;
  width: 95%;
}

html{
  background-color: #1a1a1a;
}

.dark {
  background-color: #242424;
}

.light-text {
  color: #e8e8e8;
}

.expenses-and-incomes{
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 55px;
}

.transaction-list {
  width: 100%;
}

.width-80{
  width: 80%;
  margin: 0 auto;
}

.displayOptions {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.button{
    margin: 5px;
    color: #000;
}

.this-month{
  text-align: center;
  color: #e8e8e8;
  margin-top: 4%;
}

.simple-button{
  background: #e8e8e8;
}

.add-transaction{
  background: #c2efc8;
}

a {
  color: black;
}

.active{
  background: black;
  color: #e8e8e8;
}

.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f8f9fd;
}

input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}